
<!--
<img src='https://www.dnes.bg/lib/ibgws/ibgws_comments/validate/code.php'>
<form>
  Captcha text:<br>
  <input type="text" name="captchatext"><br>
  <input type="submit" value="Submit">
</form>
<img src=>
-->

<form action="/slivi/" enctype="multipart/form-data" method="post">
    {% load static %}
    <img src="{% static 'slivi/test.jpg' %}">
    {% csrf_token %}
    <!--{{ form.as_p }}-->
    <br>
    {{form.captcha_text}}
    {{form.captcha_image}}
    <input type="submit" value="Submit" />
</form>

<h2>{{text}}</h2>
<h2></h2>
